<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>V/M Dispensing</title>
    <link rel="stylesheet" href="stylesheets/Test.css"/>
    
    <script type="text/javascript" language="javascript" src="javascripts/test.nocache.js"></script>
    <!-- <script type="text/javascript" src="http://www.google.com/jsapi"></script>
   <script type="text/javascript">google.load("visualization", "1", {'packages' : ["corechart"] });</script> -->
  </head>

  <body>
  	<div id="gwtContainer"></div>
  </body>
</html>